.modal {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  left: 50%;
  margin: 0 auto;
  max-height: 90%;
  max-width: 90%;
  overflow: auto;
  padding: 0.5%;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  z-index: 9999;
}